<div class="container-fluid">
  <div class="row-fluid columns">
    <div class="span12 photo">
      <h4>
        10 average users visit <span class="text-success">your site</span>.<br/>
        They share what they <span class="text-warning">disliked</span>.<br/>
        This <span class="text-error">critical feedback</span> is emailed every week.
      </h4>

      <%= form_for(@prelaunch, :remote => true, html: {class: 'beta-form'}) do |f| %>
          <h4>
            We're launching soon!
          </h4>

          <div class="row-fluid">
            <div class="span12 lead pagination-centered text-warning">
              The first <span class="info">1,000</span> to sign up for the beta <br/>
              will receive <span class="free">FREE</span> feedback when we launch!<br/>
              <span class="info">
                <%= Prelaunch.all.size + 637 %> have already signed up.
              </span>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span3">
              <%= f.text_field :first_name, :placeholder => "First name" %>
            </div>
            <div class="span8">
              <%= f.text_field :email, :placeholder => "Email address" %>
              <%= f.submit 'Notify me!', class: 'btn btn-success' %>
            </div>
          </div>
          <p/>

      <% end %>

    </div>
  </div>
</div>
